
main{
	margin : 0;
	padding:0;
}

p {
	margin: 0.6em 0;
	padding: 0;
	font-family: sans-serif;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 1.25em;
	margin: 0;
	padding: 16px;
	font-family: sans-serif;
}

h2{
	font-size: 1em;
	margin: 0;
	padding-left: 16px;
	padding-bottom: 16px;
	font-family: sans-serif;
}

h3{
	font-size: 0.875em;
	margin: 0;
	padding: 16px;
	font-family: sans-serif;
}

body {
  background-color: #f3f2f5;
}

a:link {
	color: blue;
	text-decoration: none;

}

a:visited {
	color:purple;
}

a:hover {
	color:red;
	background-color: transparent;
	text-decoration: underline;
}

.lists{
	list-style: cricle;
	padding: 5px;
}

.lists ul{
	list-style: square;
}


.card {
	display: inline-block;
	margin: 16px;
	width: 380px;
	min-height: 280px;
	font-size: 16px;
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
	border-radius: 5px;
	margin: 24px; ##this can be a problem in the future if there is any problem with mergin this can be a cause"
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.card .heading {
	position: relative;
	height: 80px;
	color: White;
	background-color: #4285f4;
	border-top-right-radius: 5px;
	border-top-left-radius:5px;
}


.card .content {
	font-size: 0.875em;
	padding: 16px;
	font-family: sans-serif;

}

.card .button {
	border: none;
	color: #A349E4;
	background-color: white;
	padding: 8px ;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 8px;
	margin-left: 8px;
	cursor: pointer;
	font-family: sans-serif;
}

.card .button:hover {
	background-color: #4CAF50;
	color: white;
	border-radius: 2px;

}
