p {
  margin: 0.8em 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.card {
  display: inline-block;
  margin: 16px;
  width: 380px;
  min-height: 280px;
  font-size: 16px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.card .heading {
  position: relative;
  height: 100px;
  color: White;
  background-color: #2447d6;
}
.card .heading h1 {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 24px;
  margin: 0;
  padding: 0;

}


.card .content {
  padding: 16px;
  font-size: 14px;
}
