
p {
  margin: 0.8em 0;
  padding: 0;
}

img {
  width: 100%;

}

h1 {
  font-size: 1.75em;
  font-family: sans-serif;
  margin-left: 64px;
}

h2 {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 1.25em;
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
}



body {
  background-color: #f3f2f5;
}

.card {
  display: inline-block;
  width: 380px;
  height: auto;
  font-size: 16px;
  background-color: #white;
  border-radius: 2px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  margin: 56px;
  box-sizing: inherit;



}


//** Makes the shadow at the back of the card and the red bold line at the bottom */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
  border: none;
  border-bottom: 5px solid #990000;
}

.card .heading {
  position: relative;
  height: 100px;
  width:380px;
  color: White;
  background-color: #990000;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

}

.card .content {

  width: 360px;
  display: block
  font-size: 0.875em;
  padding: 1em;
  color: black;
  font-family: sans-serif;
  line-height: 1.8;

}

.card .button {
  border: none;
  background-color: white;
  padding: 16px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 15px;
  border: 2px solid #211545;
  margin-bottom: 40px;
}

.card .button:hover {
  background-color: #211545;
  color: white;
}


//** Increases the area around the link so its easier to user in mobile */
.linker{
  padding: 8px;
}


.linker a:link{
  text-decoration:none;

}

.linker a:visited {
  text-decoration: none;
  color: black;
}


/** Links changing colour when hovered */
.linker a:hover {
  text-decoration: underline;
  color: #990000;
  font-style: italic;
  font-size: 1em;
  width: inherit;
}
